@using Microsoft.Extensions.Options;
@inject IOptionsSnapshot<ContactInfoConfig> _contactInfoConfig;
@{
    ViewData["Title"] = "Contact";
    var contactInfoConfig1 = _contactInfoConfig.Get("ContactInfoConfig1");
    var contactInfoConfig2 = _contactInfoConfig.Get("ContactInfoConfig2");
}

<section class="">
   <div class="container">
      <h1>Welcome to BookStore App</h1>
      <p class="text-muted"> This is a contact Page.</p>
      <div class="row text-center">
         <div class="col-4">
            <h4 class="display-6">Contact Info 1</h4>
            <ul class="list-group">
               <li class="list-group-item">@contactInfoConfig1.CorporationName</li>
               <li class="list-group-item">@contactInfoConfig1.Number</li>
               <li class="list-group-item">@contactInfoConfig1.Address</li>
               <li class="list-group-item">@contactInfoConfig1.FacebookPage</li>
               <li class="list-group-item">@contactInfoConfig1.Whats</li>
            </ul>
         </div>
         <div class="col-4">
            <h4 class="display-6">Contact Info 2</h4>
            <ul class="list-group">
               <li class="list-group-item">@contactInfoConfig2.CorporationName</li>
               <li class="list-group-item">@contactInfoConfig2.Number</li>
               <li class="list-group-item">@contactInfoConfig2.Address</li>
               <li class="list-group-item">@contactInfoConfig2.FacebookPage</li>
               <li class="list-group-item">@contactInfoConfig2.Whats</li>
            </ul>
         </div>
      </div>
   </div>
</section>

